@using Microsoft.AspNetCore.Identity
@using FY111.Areas.Identity.Data

@inject SignInManager<FY111User> SignInManager
@inject UserManager<FY111User> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - FY111</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Custom fonts for this template-->
    <link href="~/Scripts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top" onload="ShowTime()">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Home">
                <div class="sidebar-brand-icon ">
                    <img src="~/image/itri.png" class="img" width="50" height="50" />
                </div>
                <div class="sidebar-brand-text mx-2">FY111</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item -  -->
            <li class="nav-item active">
                <a class="nav-link" href="~/Home">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>元宇宙介紹</span>
                </a>
            </li>

            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("NormalUser") || User.IsInRole("GroupUser"))
                {
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Download" style="display: ">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <span>軟體下載</span>
                        </a>
                    </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" style="display: ">
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                            <span>帳戶管理</span>
                        </a>
                    </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Analysis" style="display: ">
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                            <span>使用情況分析</span>
                        </a>
                    </li>
                }
                else if (User.IsInRole("MetaverseAdmin"))
                {

                }
                else if (User.IsInRole("SuperAdmin"))
                {
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">
                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Upload" style="display: ">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <span>軟體上傳</span>
                        </a>
                    </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" style="display: ">
                            <i class="fa fa-users-cog" aria-hidden="true"></i>
                            <span>用戶管理</span>
                        </a>
                    </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="MetaverseManage" asp-action="Index" style="display: ">
                            <i class="fa fa-globe-asia" aria-hidden="true"></i>
                            <span>元宇宙管理</span>
                        </a>
                    </li>
                }
            }

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <div class="sidebar-card d-none d-lg-flex align-content-end mt-auto">
                <font color="white">
                    <div class="small">目前時間</div>
                    <div id="showbox"></div>
                </font>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->
                    <partial name="_LoginPartial" />
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span> &copy; 2022 - FY111</span>
                        <span class="text-right">
                            @await Html.PartialAsync("_SelectLanguagePartial")
                        </span>
                    </div>  
                    
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Scripts/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Scripts/js/demo/chart-area-demo.js"></script>
    <script src="~/Scripts/js/demo/chart-pie-demo.js"></script>

    <script>
        function ShowTime() {

            var timestamp = new Date().getTime(); // 1566267029738
            var ShowTime = new Date(timestamp).toLocaleString(); // "2019/8/20 上午9:10:29"

            document.getElementById('showbox').innerHTML = ShowTime;
            setTimeout('ShowTime()', 1000);
        }
    </script>
</body>
</html>

