@using Microsoft.AspNetCore.Identity
@using FY111.Areas.Identity.Data

@inject SignInManager<FY111User> SignInManager
@inject UserManager<FY111User> UserManager

<ul class="navbar-nav ml-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown no-arrow">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="nav-link dropdown-toggle btn btn-link">
            <i class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-600"></i>
            <span class="mr-2 d-none d-lg-inline text-gray " style="color:black">@Localizer["登出"]</span>
        </button>
        </form>
    </li>
}
else
{
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" id="login" asp-area="Identity" asp-page="/Account/Login">
            <i class="fa fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-600"></i>
            <span class="mr-2 d-none d-lg-inline text-gray " style="color:black">@Localizer["登入"]</span>
        </a>
    </li>
}
</ul>
