@model IEnumerable<FY111.Models.FY111.Class>
@{
    ViewData["Title"] = "Home Page";
}
@section Head{
<link rel="stylesheet" type="text/css" href="~/lib/slick/slick.css" />
<!-- Add the new slick-theme.css if you want the default styling-->
<link rel="stylesheet" type="text/css" href="~/lib/slick/slick-theme.css" />
<style>
    .slick-prev:before {
        color: #4066D4;
    }

    .slick-next:before {
        color: #4066D4;
    }
</style>
}
@section Scripts{
<script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
<script type="text/javascript" src="~/lib/slick/slick.min.js"></script>
<script type="text/javascript">
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: true,
        infinite: true,
        centerMode: true,
        focusOnSelect: true,
        autoplay: true,
        autoplaySpeed: 5000,
        variableWidth: true
    });

    function fontSize(res) {
        let clientWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        if (!clientWidth) return;
        let fontSize = (clientWidth / 1920);
        return res * fontSize;
    }

    function setOption(myChart){
        var option;

        option = {
            graphic: {
                elements: [
                    {
                        id: 'graph1',
                        type: 'text',
                        left: 'center',
                        top: 'center',
                        style: {
                            text: '@Localizer["XR模擬訓練課程介紹"]',
                            fontSize: fontSize(100),
                            fontWeight: 'bold',
                            lineDash: [0, 200],
                            lineDashOffset: 0,
                            fill: 'transparent',
                            stroke: '#000',
                            lineWidth: 1
                        },
                        keyframeAnimation: {
                            duration: 3000,
                            loop: false,
                            keyframes: [
                                {
                                    percent: 0.7,
                                    style: {
                                        fill: 'transparent',
                                        lineDashOffset: 200,
                                        lineDash: [200, 0]
                                    }
                                },
                                {
                                    // Stop for a while.
                                    percent: 0.8,
                                    style: {
                                        fill: 'transparent'
                                    }
                                },
                                {
                                    percent: 1,
                                    style: {
                                        fill: '#4E73DF'
                                    }
                                }
                            ]
                        }
                    }
                ]
            }
        };

        myChart.setOption(option);
    }
    var dom = document.getElementById('title');
    var myChart = echarts.init(dom, null, {
        renderer: 'canvas',
        useDirtyRect: false
    });
    var app = {};
    setOption(myChart);

    window.addEventListener('resize',function(){
        setOption(myChart);
        myChart.resize({animation: {
            duration: 1000
        }});
    })
</script>
}
@*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/image/test_img.jpg" class="img" width="200px" height="200" />
    <br />*@
<div id="title" style="width:100%;min-height:350px;" :lazy='true'></div>
<div class="row">
    <div class="slider-for col">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model.ElementAt(i);
            if (item.Image != null)
            {
                <div class="mb-5">
                    <h3>課程介紹 - @item.Name</h3>
                    <hr />
                    @if (item.Content == null)
                    {
                        <p>尚無介紹</p>
                    }
                    else
                    {
                        <p>@item.Content</p>
                    }
                </div>
            }
        }
    </div>

    <div class="slider-nav mt-a col-12">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model.ElementAt(i);
            if (item.Image != null)
            {
                <div class="text-center">
                    <img src="~/image/Class/@item.Image" class="img mr-3 ml-3" height="200px" />
                </div>
            }
        }
    </div>
</div>



