@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/image/test_img.jpg" class="img" width="200px" height="200"/>
    <br />
    @{
        if (ViewData["UserRole"]!=null)
        {
            <p>@ViewData["UserRole"]</p>
        }
        else
        {
            <p>anonymous</p>
        }

    }

</div>

