@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (ViewData["Success"].ToString() == "true")
        {
            <p>You have successfully logged out of the application.</p>
        }
        else
        {
            <p>Error. You haven't login.</p>
        }
    }

    
</header>