@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="height: 50%;  width: 50%; position: relative;">
    <canvas id="myChart"></canvas>
</div>
<div style="height: 300px;  width: 300px; background-color: #FFFF00; position: relative;"></div>


<script>
$(document).ready(function(){
    $.get("api/Charts/MetaverseConnectionStatus", function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
        var myChartLabels = data['labels'];
        var myChartDatas = data['datas'];
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: myChartLabels,
                datasets: [{
                    label: '連線人數',
                    data: myChartDatas,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        //'rgba(75, 192, 192, 0.2)',
                        //'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        //'rgba(75, 192, 192, 1)',
                        //'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
});


</script>
@{
}
